.filters76Sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10%;
    width: 20rem;
    padding: 2rem 2rem;
    background-color: var(--light-background);
}

.filters90TitleWithReset {
    display: flex;
    justify-content: space-between;
}

.filters31SortType {
    margin-top: 1rem;
}

.filters65Sort {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sort91Radios {
    margin: 1rem 0;
    width: 100%;
}

.filters56Categories {
    margin: 1rem 0;
}

.filters23AllCategories {
    width: 100%;
}

.filters56Categories li {
    margin: 1rem 0;
}

.filters34PriceFilter {
    margin: 1rem 0;
}
.filters32PriceRange {
    margin: 1rem 0;
    width: 100%;
}


@media (max-width: 1024px) {
    .filters76Sidebar {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .filters76Sidebar {
        flex-direction: row;
        width: 100%;
        position: relative;
        height: max-content;
        justify-content: space-between;
    }
    
    .filters65Sort {
        width: 20%;
    }

    .sort91Radios {
        flex-direction: column;
    }

    .filters56Categories {
        margin: 0;
        width: 33%;
    }

    .filters34PriceFilter {
        width: 33%;
        margin: 0;
    }
}