.productlist43page {
    display: flex;
    width: var(--max-width);
    margin: var(--margin-full-page);
}

.product23All {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    align-items: center;
}

.productlist41allProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product79EmptyList {
    height: 10rem;
    width: 25rem;
    background-color: var(--light-background);
    padding: 2rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .productlist41allProducts {
        justify-content: center;
    }
}

@media (max-width: 1023px) {

    .product23All {
        margin-top: 10rem !important;
    }

    .productlist41allProducts {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1023px) {

    .productlist43page {
        flex-direction: column;
    }

    .product23All {
        margin: 1rem 0 0 0;
    }
}

@media (max-width: 425px) {

    .productlist41allProducts {
        width: 100%;
    }
}