.cart46CartQuantity {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    align-items: center;
    width: 100%;
}

.cart46CartQuantity img {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 1rem;
}