.cart98CartPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.cart56WistList {
    margin-top: 4rem;
}

.cart34Box {
    background-color: var(--light-background);
    padding: 2rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}