.cart98CartPage {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5rem;
    min-height: 70vh;
    width: 90vw;
}

.cart98CartChekout {
    display: flex;
    width: 20%;
}

.cart90CartWishlist {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
}

.cart23SwitchButtons {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-evenly;
    width: 75%;
    padding: 1rem;
    background-color: var(--light-background);
    z-index: 1;
}

.cart12SwitchButton {
    width: 49%;
}

.active56Button {
    background-color: var(--light-background);
}

@media (max-width: 1023px) {
    .cart98CartPage {
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cart98CartChekout {
        width: var(--max-width);
    }
    .cart23SwitchButtons {
        width: var(--max-width);
    }
}

@media (max-width: 425px) {
    .cart98CartChekout {
        width: 100%;
    }
    .cart23SwitchButtons {
        width: var(--max-width);
    }
}