.card54Product {
    box-shadow: var(--box-shadow);
    width: 25rem;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.card54Product:hover {
    scale: 1.02;
}

.card23ProductDetails {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card23ProductDetails img {
    height: 25rem;
    max-width: 100%;
}

.card23ProductDescription {
    text-align: center;
}

.card09Rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card39RatingStar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-rating-background);
    color: var(--card-rating-color);
    padding: 0.2rem;
    border-radius: 0.2rem;
}

.card09Rating img {
    height: 1rem;
}