.cart34Box {
    padding: 2rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart12Head {
    margin: 1rem 0;
    text-transform: uppercase;
}

.cart43CartItems {
    margin: 1rem 0;
    background-color: var(--light-background);
    box-shadow: var(--box-shadow);
}

@media (max-width: 425px) {
    .cart34Box {
        padding: 0;
    }
}