.cart34Box {
    padding: 2rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cart12Head {
    text-transform: uppercase;
}

.cart43CartItems {
    width: 60%;

    margin: 1rem 0;
    background-color: var(--light-background);
    box-shadow: var(--box-shadow);
}

@media (max-width: 1024px) {

    .cart43CartItems {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .cart43CartItems {
        width: var(--max-width);
    }
    .cart34Box {
        padding: 0;
    }
}