.card54Product {
    box-shadow: var(--box-shadow);
    width: 25rem;
    /* max-height: 35rem; */
    max-width: 90vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 1rem 0.6rem;
    background-color: var(--light-background);
}

.card54Product:hover {
    scale: 1.02;
}

.card75Product {
    box-shadow: none;
    margin-top: 2rem;
    width: 80% !important;
    margin-bottom: 0;
    cursor: default;
    display: flex;
    justify-content: center;
}

.card75Product:hover {
    scale: 1;
}

.card77Product {
    /* width: 80%; */
    width: fit-content;
    /* margin-bottom: 0; */
    cursor: default;
    display: flex;
    justify-content: center;
    scale: 1;
}

.card77Product:hover {
    scale: 1;
}

.card23ProductDetails {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card45ProductDetails {
    flex-direction: row;
}

.card44ProductDetails {
    flex-direction: row;
}

.card44ProductDetails
.card89ImageHolder img {
    /* width: 20rem; */
    height: 20rem;
    /* max-width: 15rem; */
}

.card12ProductImageButtons {
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card12ProductImageButtons img {
    height: 32rem !important;
}

.card89ImageHolder img {
    height: 25rem;
    width: 25rem;
    max-width: 100%;
    object-fit: contain;
}

.card23ProductDescription {
    text-align: center;
}

.card98ProductPriceRating {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart78ProductPrice {
    font-size: large;
}

.card67ProductDescription {
    width: 30rem;
}

.card89ImageHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .card54Product:hover {
        scale: 1;
    }

    .card45ProductDetails {
        flex-direction: column;
    }
    
    .card45ProductDetails img {
        height: 100%;
    }
    
    .card67ProductDescription {
        margin-left: 0;
    }
}

@media (max-width: 425px) {

    .card44ProductDetails {
        width: 25rem;
        flex-direction: column;
    }

    .card67ProductDescription {
        width: 25rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .card54Product:hover {
        scale: 1;
    }
}