.navbar32Bar {
    box-shadow: var(--box-shadow);
    display: flex;
    position: fixed;
    padding: 1.5rem;
    height: 6%;
    top: 0%;
    left: 0%;
    width: 100vw;
    padding: 0 5vw;
    z-index: 1;
    justify-content: space-between;
    align-items: center;

    background-color: var(--light-background);

    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
}

.navbar45Left {
    display: flex;
    height: 2.5rem;
}

.navbar23Heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    font-size: x-large;
}

.navbar98Center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.navbar85Input {
    width: 100%;
    line-height: 2rem;
    border-radius: 0.5rem;
    border-color: grey;
}

.navbar44Right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar90Cart {
    margin-top: -0.8rem;
    margin-left: -0.6rem;
    height: 2.2rem;
}

.navbar75CartItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: var(--cart-items);
}


@media (max-width: 768px) {
    .navbar32Bar {
        padding: 0.5rem 5vw;
    }
}

@media (max-width: 425px) {
    .navbar23Heading {
        display: none;
    }

    .navbar98Center {
        width: 60%;
    }
}