.offer12Text {
    /* font-weight: 900; */
}

.offer23OfferCard {
    background-color: var(--brand);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
}

.offer09OfferHead {
    display: flex;
    align-items: center;
}

.offer45BreakLine {
    border: 0.05rem solid grey;
    width: 90%;
}

.offer23OfferCard p {
    line-height: 3.5rem;
}

.offer23OfferCard h2 {
    line-height: 3.5rem;
}

.offer23OfferCard h4 {
    line-height: 3.5rem;
}

.offer23OfferCard pre {
    line-height: 2rem;
}

.offer54Coupon {
    box-shadow: var(--box-shadow);
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    width: max-content;
    background-color: var(--background);
}