.cart90Price {
    text-align: center;
    position: sticky;
    left: 1rem;
    top: 10rem;
    margin-top: 6.5rem;
    padding: 1rem;
    height: max-content;
    width: 100%;
    background-color: var(--light-background);
    box-shadow: var(--box-shadow);
}

.cart24Summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.cart80Heading {
    margin: 1rem 0;
}

.cart90Price p {
    margin: 0.5rem 0;
}

.cart89TotalPrice {
    margin: 1rem 0;
}

.cart23CheckoutButton {
    margin: 1rem 0;
    width: 100%;
}

@media (max-width: 768px) {
    
}