.cart90Price {
    text-align: center;
    position: sticky;
    left: 1rem;
    top: 10rem;
    margin-top: 6.5rem;
    padding: 1rem;
    height: max-content;
    width: 100%;
    background-color: var(--light-background);
    box-shadow: var(--box-shadow);
}

.cart23CheckoutButton {
    margin: 1rem 0;
    width: 100%;
}

@media (max-width: 768px) {
    
}